<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav>
        <div class="logo">
            <a href="/">NodeJS Login</a>
        </div>

        <ul class="menu">
            <li>
                <a href="/logout" class="login-btn">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <% if (typeof user !== 'undefined') { %>
            <h1>Hello, <%= user.name %></h1>
            <p>Welcome to the Home Page</p>
        <% } %>
    </div>
    
</body>
</html>
