<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav>
        <div class="logo">
            <a href="/">NodeJS Login</a>
        </div>

        <ul class="menu">
            <% if (typeof user !== 'undefined') { %>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout" class="login-btn">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } %>
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome to the index Page</h1>
    </div>
    

</body>
</html>
