<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav>
        <div class="logo">
            <a href="/">NodeJS Login</a>
        </div>

        <ul class="menu">
            <% if (typeof user !== 'undefined') { %>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout" class="logout-btn">Logout</a></li>
            <% } else { %>
                <li><a href="/login" class="login-btn">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } %>
            
        </ul>
    </nav>

    <div class="container">
        <h1>Welcome to the index page</h1>
        <% if (typeof user !== 'undefined') { %>
            <h2>Hello, <%= user.name %></h2>
        <% } %>
    </div>
    
</body>
</html>